.app-header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;

    img {
        padding: 4px 16px;

        @media (min-width: 768px) {
            padding: 12px 48px;
        }
    }
    
}